# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/.terraform.lock.hcl

# Kubernetes
*.kubeconfig

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log

# Build artifacts
**/target/
**/build/
**/dist/
**/__pycache__/
**/node_modules/
**/*.pyc

# Environment
.env
.env.local